<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mars- The Red Planet</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars</a></p>
    </div>
      
    <!-- surf data -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Mars News</h3>
        <p>{{ mars.newsTitle }}</p>
        <p>{{ mars.newsText }}</p>
        <h3>Mars Weather</h3>
        <p>{{ mars.marsWeather }}</p>
        <h3>Mars Hemisperes</h3>
        <p> Cerberus</p>
        <a> href=({{ mars.Cerberus }})</a>
        <img alt="Cerberus" src={{ mars.Cerberus }}>
        <a>{{ mars.Schiaparelli}}</a>
        <a>{{ mars.Syrtis}}</a>
        <a>{{ mars.Valles}}</a>
        <h3>Mars News</h3>
        <p>{{ mars.newsTitle }}</p>
      </div>
    </div>
  </div>

</body>
</html>

